<html>
<head>
  <title>My First Sinatra App</title>
  <meta name="description" content="CodeCore May 2014 Cohort HTML Refresher">
  <meta name="keywords" content="HTML Refresher Sinatra">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <!-- This is an HTML Comment -->
  <header>
    Welcome to Our Sinatra App
    <nav>
      <a href="/contact">Contact Us</a>
      |
      <a href="http://www.google.com" target="_blank">Google</a>
      |
      <a href="mailto:tam@codecore.ca" id="mail-link">tam@codecore.ca</a>
    </nav>
    <hr>
  </header>
  <%= yield %>
  <footer></footer>
</body>
</html>