<section id="main">
<h1>Welcome to Our Awesome Sinatra App
    <small>Subheader</small>
</h1>

<h2>HTML Refresher</h2>
<p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
<br>
Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod.</p>

<article>
  Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur.
  <br>
  Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.
  <br>
  Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
</article>
<img src="/logo.png" title="Sinatra Logo" alt="Sinatra Logo">
<section id="lists">
  <h2>Lists</h2>
  <h3>Unordered List</h3>
  <ul>
    <li> Item 1 </li>
    <li> Item 2 </li>
    <li> Item 3 </li>
    <li> Item 4 </li>
    <li> Item 5 </li>
  </ul>
  <h3>Ordered List</h3>
  <ol>
    <li> Item 1 </li>
    <li> Item 2 </li>
    <li> Item 3 </li>
    <li> Item 4 </li>
    <li> Item 5 </li>
  </ol>
<h3>Nested List</h3>
</section>
  <ul>
    <li> Item 1 </li>
    <li> Item 2 </li>
    <li> Item 3
      <ul>
        <li> Item 3 a </li>
        <li> Item 3 b</li>
        <li> Item 3 c</li>
        <li> Item 3 d</li>
        <li> Item 3 e</li>
      </ul>

    </li>
    <li> Item 4 </li>
    <li> Item 5 </li>
  </ul>
</section>

<section id="tables">
  <h2>Tables</h2>
  <table border="5">
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Company</th>
    </tr>
    <tr>
      <td>Tam Kbeili</td>
      <td class="special">Burnaby</td>
      <td>CodeCore</td>
    </tr>
    <tr>
      <td>John Smith</td>
      <td class="special" id="super-special" style="text-decoration: none;">Richmond</td>
      <td>TELUS</td>
    </tr>
    <tr>
      <td colspan="3">I'm a footer</td>
    </tr>
    <tr>
      <td rowspan="2">a</td>
      <td>b</td>
      <td>c</td>
    </tr>
    <tr>
      <td>d</td>
      <td>e</td>
    </tr>

  </table>

</section>


<section id="box-model">
  <h2>The Box Model</h2>      

  <div class="box-model-testing"></div>

</section>


<section id="floats">
  <h2>Floats</h2>
  <div class="floater-div green"></div>
  <div class="floater-div red"></div>
  <div class="floater-div blue"></div>

</section>

<div class="clearfix"></div>  
<section id="display-types">
  <h2>Display Types</h2>

</section>